<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Reminder.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="Reminder.commands.category"
            name="Remind me something.."
            id="Reminder.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="reminder.handlers.SampleHandler"
            commandId="Reminder.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Reminder.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Reminder.menus.sampleMenu"
               label="Reminder for banan"
               mnemonic="M">
            <command
                  commandId="Reminder.commands.sampleCommand"
                  id="Reminder.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Reminder.toolbars.sampleToolbar">
            <command
                  id="Reminder.toolbars.sampleCommand"
                  commandId="Reminder.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
